node_modules/
cypress/videos/
cypress/screenshots/
.env
.DS_Store
allure-results/
allure-report/
reports/
logs/
*.log
*.tmp
*.bak
*.swp
.idea/
.vscode/
dist/
build/
coverage/
*.zip
*.tar.gz
*.tgz
*.exe